{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="114505982628-4ejpeobgi8l98pr0uufimc91fcupodd3.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static "js/script.js" %}" type="text/javascript"></script>


    <script>
        var bintang = "{% static "images/star2-512.png" %}";
        var bintangkejora = "{% static "images/giphy2.gif" %}";
        var clickedstar = "{% static "images/clickedstar.png" %}";
        var favstar = "{% static "images/giphy3.gif" %}";
    </script>

    <script>
        function clicked(element) {
            var counter = document.getElementById("counterfav");
            var bookid = element.id;
            if (ifClicked[element.id] == false) {
                $.ajax({
                    type: "GET",
                    url: "/update-session/",
                    data: {
                        "bookid" : bookid,
                        "click" : true,
                    },
                    success: function(data) {
                        console.log("updated ++");
                        counter.innerHTML = data.fav;
                    }
                })
                element.setAttribute('src', favstar);
                // favorite++;
                ifClicked[element.id] = true;
            } else {
                $.ajax({
                    type: "GET",
                    url: "/update-session/",
                    data: {
                        "bookid" : bookid,
                        "click" : false,
                    },
                    success: function(data) {
                        console.log("updated --");
                        counter.innerHTML = data.fav;
                    }
                })
                element.setAttribute('src', bintang);
                // favorite--;
                ifClicked[element.id] = false;
            }
        }
        
        function hover(element) {
            if (ifClicked[element.id] == false) {
                element.setAttribute('src', bintangkejora);
            }
        }
          
        function unhover(element) {
            if (ifClicked[element.id] == false) {
                element.setAttribute('src', bintang);
            }
            
        }
    </script>

    <title>Books - Rizdar</title>
</head>
<body style="background: lavender;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="{% static "images/clickedstar.png" %}" alt="Star" style="width:30%;">
                <div class="centered"><p id="counterfav">{{ favorite_count }}</p></div>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-3">
            <input class="form-control flex-grow-1" type="search" name="search" id="searchbook" value="quilting">
            <input class="btn btn-primary" type="submit" value="Search" id="search">
        </div>
        <div class="row" id="selamat">
            <div class="col-sm-12 text-center">
                    {% if user.is_authenticated %}
                    <p class="text-center">SELAMAT DATANG, {{ user.username }} !</p>
                    <a class="btn btn-danger" href="{% url 'logout' %}">LOG OUT</a>
                {% else %}
                    <a class="btn btn-info"href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
                {% endif %}
            </div>
        </div>
        <div class="row">
        <div class="table-responsive">
            <table class="table-hover text-center" id="bookstable">

            </table>
        </div>
        </div>
    </div>
</body>
<footer>
    Loading the books or the icons on hover and click might take a long time.
</footer>
</html>