{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Rizdar Status Updater</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="" style="margin-top:20px">
        <h1 class="text-center">Hello, apa kabar? Saya <a href="{% url 'profile' %}">Rizdar</a></h1>
      </div>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary" name="submit">Update Status</button>
      </form>
      <div class="table-responsive table-wrapper-scroll-y" style="margin-top:20px; display: block; max-height:300px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar">
        <table class="table table-hover table-bordered">
          <thead>
            <th>Status</th>
            <th>Waktu</th>
          </thead>
          {% for i in status %}
          <tr>
            <td>{{ i.status }}</td>
            <td>{{ i.datetime }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
