{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static "js/script.js" %}" type="text/javascript"></script>
    
    <title>Rizdar</title>
  </head>
  <body onload="myFunction()" style="background-color:#FFFFA0;">
    <div id="loader"></div>
    <div class="animate-bottom" id="myDiv" style="display:none;">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
            <div class="sidebar">
              <div class="profile-image">
                <img src="https://pbs.twimg.com/profile_images/1053659179854884864/M3m-Y6cE_400x400.jpg"
                alt="Myself" class="rounded-circle img-fluid mx-auto d-block" style="width:200px;margin-top:10px;">
              </div>
              <div class="profile-desc">
                <div class="profile-name">
                  <p class="text-center" style="margin-top:10px">Muhammad Rizki Darmawan</p>
                </div>
                <div class="profile-job">
                  <p class="text-center">Information Systems Student</p>
                </div>
              </div>
              <div id="themebutton">
                <button class="btn btn-primary" id="thememode">Change Theme</button>
              </div>
              <div id="themebutton" style="padding-top:5%">
                <a class= "btn btn-info" name="update" href="{% url 'index' %}">Update Status</a>
              </div>
              <div id="themebutton" style="padding-top:5%">
                <a class= "btn btn-info" name="book" href="{% url 'books' %}">Favorite Books</a>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="desc" id="accordion" style="margin-top: 10%; margin-bottom:15%">
              <h3>Aktivitas</h3>
              <div><p>Sekarang saya sibuk mengerjakan TP2 SDA, Business Proposal Adbis, Wawancara Organisasi PPSI, dan PASCAL DPM Fasilkom UI</p></div>
              <h3>Pengalaman Organisasi dan Kepanitiaan</h3>
              <div><p>Staff Pengawasan 2 DPM Fasilkom UI, PJ Ticketing YBM UI 2019, dan Anggota FORMAKARA UI</p></div>
              <h3>Prestasi</h3>
              <div><p>Masuk UI</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer id="myFooter" class="animate-bottom" style="display:none;">
    <p>Copyright 2018<br>Muhammad Rizki Darmawan</p>
  </footer>
</html>
