footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: inherit;
  text-align: center;
}

.contain {
  position: relative;
  text-align: center;
}

.desc {
  color: #47525E;
  font-family: 'Montserrat', sans-serif;
  padding-top:100px;
  padding-left: 20px; 
  padding-bottom:100px;
}

.nightmode {
  background-color: #141d26 !important;
}

.montserrat-font-title {
  color: #47525E;
  font-family: 'Montserrat', sans-serif;
  padding-top:20px;
}

.montserrat-font {
  color: #47525E;
  font-family: 'Montserrat', sans-serif;
}

.lato-font {
  color: #47525E;
  font-family: 'Lato', sans-serif;
}

.favorite {
  width: 30px;
}

.centered {
  position: absolute;
  font-size: xx-large;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#themebutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid grey;
  border-right: 16px solid green;
  border-bottom: 16px solid yellow;
  border-left: 16px solid peru;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s
}

@-webkit-keyframes animatetop {
  from { bottom:100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatetop { 
  from{ bottom:100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}
